body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --main-color: #007BFF;
    --font-title: Montserrat, 'sans-serif';
    --font-weight-p : 300;
}
.custom-size{
    font-size: 20px;
}
i{
    color: rgb(0, 0, 0);
    font-size: 5em;
    margin-right: 30px;
}


h2, h3, h1, p{
    font-family: var(--font-title);
}

h3{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}

h2{font-size: 3em;
}
.menu-bg{
    display: none;
}
.sidenav{
    display: none;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--main-color);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 30px 20px 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    transition: 0.4s;
    position: relative;

}

.nav-links a:hover{
    color:white;
}

.nav-links a:hover::after {
    transform: scaleX(0.7);
}
.nav-links a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}


.search-bar {
    margin-left: 20px;
}

.search-bar input {
    padding: 3%;
    border: none;
    border-radius: 4px;
    width: 90%;
}

.reveal {
    opacity: 0;
    transition: opacity 0.7s ease-out;
}
.reveal.active {
    opacity: 1;
}


footer{
    padding: 0 80px;
    display: flex;
    justify-content:space-between;
}

.second_section_footer{
    display: flex;
    flex-direction: row;

}

.topic_section{
    flex-direction: row;
    margin-right: 80px;
    text-align: center;
    font-family: var(--font-title);
}
.topic_section li, a{
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;
    margin :20px 0;
    color :grey;
}

.topic_section ul{
    padding: 0;
    margin : 0 40px;
}
.topic_section2{
    width: 100%;
    flex-direction: row;
    margin-right: 80px;
    text-align: center;
    font-family: var(--font-title);
}
.topic_section2 li, a{
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;
    margin :20px 0;
    color :grey;
}

.topic_section2 ul{
    padding: 0;
    margin : 0 40px;
}

.site_name_footer{
    margin : 30px 0;
}
.site_name_footer h3{
    font-size: 16px;
    font-weight: 400;
    color:white;
}
.social_media_footer{
    margin-top:80px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.separation{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 87%;

}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out,
                transform 0.1s ease-in-out;
}

html,
body {
    cursor: none;        
}

.cursor-dot {
    width: 15px;
    height: 15px;
    background-color: #f5e31d;
    z-index: 99;
}

.cursor-dot-outline {

    width: 30px;
    height: 30px;
    background-color: #fffd8977;
    opacity: 0.5;
    z-index:98;
}

.cta_acc{
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: transparent;
    transition: 0.15s ease-in-out;
    overflow: hidden;
    color: black;
    
}
.cta_acc::after{
    
    content: '';
    position: absolute;
    overflow: hidden;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.623) 50%, rgba(229, 172, 142, 0));
    transform: rotateZ(60deg) translate(0em, 5.5em);
      
}
@keyframes sheen {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
    }
  }
  

.cta_acc:hover::after, .cta_acc:focus::after {
    animation: sheen 2s forwards;
  }
.cta_acc:hover{
    scale:1.1;
}





@media only screen and (max-width: 600px){
    div.sidenav{
        display: block;
    }
    div.menu-bg{
        display: block;
    }
    .topic_section2{
        margin:0;
    }
    .topic_section2 li, a{
        color:white;
        font-size: 11px;
        margin:15px 0;
    }
    .topic_section2 li{
        font-weight: 500;
    }
    .topic_section2 h5{
        display: none;
    }
    footer{

    height: 100px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: grey;
}
.first_section_footer{
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.social_media_footer{
    margin:0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap:5px;
    background-color: white;
    border-radius: 5px;
    z-index:100;
    opacity: 1;
    

}
.social_media_footer i{
    font-size: 12px;
    margin:0;
    padding:0 5px;
    color:grey;

}
div.second_section_footer{
    flex-direction: row;
    width: 25%;

}
div.topic_section{
    display: none;
}
input#only-topic{
    display: block;
}
.site_name_footer h3{
    font-size: 16px;
    margin: 0;
    width: 100%;

}

}
