body {
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --main-color: #007BFF;
    --font-title: Montserrat, 'sans-serif';
    --font-weight-p : 300;
}
.custom-size{
    font-size: 20px;
}
i{
    color: rgb(0, 0, 0);
    font-size: 5em;
    margin-right: 30px;
}


h2, h3, h1, p{
    font-family: var(--font-title);
}

h3{
    font-size: 2em;
}
p{
    font-size: 1.5em;
}

h2{font-size: 3em;
}
.menu-bg{
    display: none;
}
.sidenav{
    display: none;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--main-color);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #111;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    padding: 30px 20px 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    transition: 0.4s;
    position: relative;

}

.nav-links a:hover{
    color:white;
}

.nav-links a:hover::after {
    transform: scaleX(0.7);
}
.nav-links a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform-origin: center;
    transition: transform 0.4s ease-out;
}


.search-bar {
    margin-left: 20px;
}

.search-bar input {
    padding: 3%;
    border: none;
    border-radius: 4px;
    width: 90%;
}

.reveal {
    opacity: 0;
    transition: opacity 0.7s ease-out;
}
.reveal.active {
    opacity: 1;
}


footer{
    padding: 0 80px;
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}

.second_section_footer{
    display: flex;
    flex-direction: row;

}

.topic_section{
    flex-direction: row;
    margin-right: 80px;
    text-align: center;
    font-family: var(--font-title);
}
.topic_section li, a{
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;
    margin :20px 0;
    color :grey;
}

.topic_section ul{
    padding: 0;
    margin : 0 40px;
}
.topic_section2{
    flex-direction: row;
    margin-right: 80px;
    text-align: center;
    font-family: var(--font-title);
}
.topic_section2 li, a{
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;
    margin :20px 0;
    color :grey;
}

.topic_section2 ul{
    padding: 0;
    margin : 0 40px;
}

.site_name_footer{
    margin : 30px 0;
}
.site_name_footer h3{
    font-size: 1.3em;
    font-weight: 400;
}
.social_media_footer{
    margin-top:80px;
    margin-bottom: 40px;
    opacity: 0.5;
}

.separation{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 87%;

}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.1s ease-in-out,
                transform 0.1s ease-in-out;
}

html,
body {
    &,
    * {
        cursor: none;        
    }
}

.cursor-dot {
    width: 15px;
    height: 15px;
    background-color: #f5e31d;
    z-index: 99;
}

.cursor-dot-outline {

    width: 30px;
    height: 30px;
    background-color: #fffd8977;
    opacity: 0.5;
    z-index:98;
}

.cta_acc{
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: transparent;
    overflow: hidden;
    color: black;
}

.cta_acc::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: left 0.5s, right 0.5s;
    z-index: -1;
}

.cta_acc:hover::before{
    left: 0;
    right:0;
}
.cta_acc:hover::before {
    animation: slideBack 0.4s forwards;

}
@keyframes slideBack {
    0% {
        left: -100%;
        right: -100%;
    }
    50% {
        left: 0;
        right: 0;
    }
    100% {
        left: 100%;
        right: 0;
    }
}


@media only screen and (max-width: 600px){
    div.sidenav{
        display: block;
    }
    div.menu-bg{
        display: block;
    }
}